<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>Podfile</string>
		</dict>
		<key>AppContainer.swift</key>
		<dict>
			<key>Group</key>
			<array/>
			<key>Path</key>
			<string>AppContainer.swift</string>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<array/>
			<key>Path</key>
			<string>AppDelegate.swift</string>
		</dict>
		<key>AppRouter.swift</key>
		<dict>
			<key>Group</key>
			<array/>
			<key>Path</key>
			<string>AppRouter.swift</string>
		</dict>
		<key>AppWindow.swift</key>
		<dict>
			<key>Group</key>
			<array/>
			<key>Path</key>
			<string>AppWindow.swift</string>
		</dict>
		<key>Controllers/Auth/EULAController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>Auth</string>
			</array>
			<key>Path</key>
			<string>Controllers/Auth/EULAController.swift</string>
		</dict>
		<key>Controllers/Auth/LoginController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>Auth</string>
			</array>
			<key>Path</key>
			<string>Controllers/Auth/LoginController.swift</string>
		</dict>
		<key>Controllers/Auth/SignUpController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>Auth</string>
			</array>
			<key>Path</key>
			<string>Controllers/Auth/SignUpController.swift</string>
		</dict>
		<key>Controllers/Base/CollectionController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>Controllers/Base/CollectionController.swift</string>
		</dict>
		<key>Controllers/Base/Controller.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>Controllers/Base/Controller.swift</string>
		</dict>
		<key>Controllers/Base/NavigationController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>Controllers/Base/NavigationController.swift</string>
		</dict>
		<key>Controllers/Base/TabBarController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>Controllers/Base/TabBarController.swift</string>
		</dict>
		<key>Controllers/Base/ViewModelController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>Controllers/Base/ViewModelController.swift</string>
		</dict>
		<key>Controllers/DispatchController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Controllers/DispatchController.swift</string>
		</dict>
		<key>Controllers/Profile/EditProfileController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>Profile</string>
			</array>
			<key>Path</key>
			<string>Controllers/Profile/EditProfileController.swift</string>
		</dict>
		<key>Controls/ActivitySpinnerIndicator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controls</string>
			</array>
			<key>Path</key>
			<string>Controls/ActivitySpinnerIndicator.swift</string>
		</dict>
		<key>Controls/Button.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controls</string>
			</array>
			<key>Path</key>
			<string>Controls/Button.swift</string>
		</dict>
		<key>Controls/Checkbox.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controls</string>
			</array>
			<key>Path</key>
			<string>Controls/Checkbox.swift</string>
		</dict>
		<key>Controls/ControlElement.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controls</string>
			</array>
			<key>Path</key>
			<string>Controls/ControlElement.swift</string>
		</dict>
		<key>Controls/RatingSlider.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controls</string>
			</array>
			<key>Path</key>
			<string>Controls/RatingSlider.swift</string>
		</dict>
		<key>Controls/Slider.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controls</string>
			</array>
			<key>Path</key>
			<string>Controls/Slider.swift</string>
		</dict>
		<key>Controls/Switch.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controls</string>
			</array>
			<key>Path</key>
			<string>Controls/Switch.swift</string>
		</dict>
		<key>Extensions/CALayer.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/CALayer.swift</string>
		</dict>
		<key>Extensions/CustomStringConvertible+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/CustomStringConvertible+Extensions.swift</string>
		</dict>
		<key>Extensions/Date+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/Date+Extensions.swift</string>
		</dict>
		<key>Extensions/Enum+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/Enum+Extensions.swift</string>
		</dict>
		<key>Extensions/IGListKit+Extenions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/IGListKit+Extenions.swift</string>
		</dict>
		<key>Extensions/NSAttributedString+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/NSAttributedString+Extensions.swift</string>
		</dict>
		<key>Extensions/NSLayoutConstraint+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/NSLayoutConstraint+Extensions.swift</string>
		</dict>
		<key>Extensions/Number+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/Number+Extensions.swift</string>
		</dict>
		<key>Extensions/RxSwift+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/RxSwift+Extensions.swift</string>
		</dict>
		<key>Extensions/String+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/String+Extensions.swift</string>
		</dict>
		<key>Extensions/UIAlertController+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UIAlertController+Extensions.swift</string>
		</dict>
		<key>Extensions/UIApplication+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UIApplication+Extensions.swift</string>
		</dict>
		<key>Extensions/UIButton+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UIButton+Extensions.swift</string>
		</dict>
		<key>Extensions/UICollectionView+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UICollectionView+Extensions.swift</string>
		</dict>
		<key>Extensions/UIColor+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UIColor+Extensions.swift</string>
		</dict>
		<key>Extensions/UIDevice+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UIDevice+Extensions.swift</string>
		</dict>
		<key>Extensions/UIEdgeInsets+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UIEdgeInsets+Extensions.swift</string>
		</dict>
		<key>Extensions/UIImage+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UIImage+Extensions.swift</string>
		</dict>
		<key>Extensions/UILabel+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UILabel+Extensions.swift</string>
		</dict>
		<key>Extensions/UIScrollView+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UIScrollView+Extensions.swift</string>
		</dict>
		<key>Extensions/UITableView+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UITableView+Extensions.swift</string>
		</dict>
		<key>Extensions/UIView+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UIView+Extensions.swift</string>
		</dict>
		<key>Extensions/UIViewController+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UIViewController+Extensions.swift</string>
		</dict>
		<key>Extensions/UIWindow+Extensions.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Extensions/UIWindow+Extensions.swift</string>
		</dict>
		<key>Info.plist</key>
		<dict>
			<key>Group</key>
			<array/>
			<key>Path</key>
			<string>Info.plist</string>
		</dict>
		<key>Interfaces/Interface+Defaults.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Interfaces</string>
			</array>
			<key>Path</key>
			<string>Interfaces/Interface+Defaults.swift</string>
		</dict>
		<key>Interfaces/Interfaces.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Interfaces</string>
			</array>
			<key>Path</key>
			<string>Interfaces/Interfaces.swift</string>
		</dict>
		<key>Managers/Manager.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Managers</string>
			</array>
			<key>Path</key>
			<string>Managers/Manager.swift</string>
		</dict>
		<key>Managers/ThemeManager.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Managers</string>
			</array>
			<key>Path</key>
			<string>Managers/ThemeManager.swift</string>
		</dict>
		<key>Models/Enums/LocalizationIdentifier.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Models</string>
				<string>Enums</string>
			</array>
			<key>Path</key>
			<string>Models/Enums/LocalizationIdentifier.swift</string>
		</dict>
		<key>Models/Errors/JSONError.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Models</string>
				<string>Errors</string>
			</array>
			<key>Path</key>
			<string>Models/Errors/JSONError.swift</string>
		</dict>
		<key>Models/Model.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Models</string>
			</array>
			<key>Path</key>
			<string>Models/Model.swift</string>
		</dict>
		<key>Networking/HttpRequest.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Networking</string>
			</array>
			<key>Path</key>
			<string>Networking/HttpRequest.swift</string>
		</dict>
		<key>Protocols/Accessible.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Protocols</string>
			</array>
			<key>Path</key>
			<string>Protocols/Accessible.swift</string>
		</dict>
		<key>Protocols/FeedbackGeneratable.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Protocols</string>
			</array>
			<key>Path</key>
			<string>Protocols/FeedbackGeneratable.swift</string>
		</dict>
		<key>Protocols/Reflectable.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Protocols</string>
			</array>
			<key>Path</key>
			<string>Protocols/Reflectable.swift</string>
		</dict>
		<key>Protocols/Roundable.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Protocols</string>
			</array>
			<key>Path</key>
			<string>Protocols/Roundable.swift</string>
		</dict>
		<key>RootViews/Auth/EULAView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>RootViews</string>
				<string>Auth</string>
			</array>
			<key>Path</key>
			<string>RootViews/Auth/EULAView.swift</string>
		</dict>
		<key>RootViews/Auth/LoginView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>RootViews</string>
				<string>Auth</string>
			</array>
			<key>Path</key>
			<string>RootViews/Auth/LoginView.swift</string>
		</dict>
		<key>RootViews/Auth/SignUpView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>RootViews</string>
				<string>Auth</string>
			</array>
			<key>Path</key>
			<string>RootViews/Auth/SignUpView.swift</string>
		</dict>
		<key>RootViews/LoadingView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>RootViews</string>
			</array>
			<key>Path</key>
			<string>RootViews/LoadingView.swift</string>
		</dict>
		<key>RootViews/Profile/EditProfileView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>RootViews</string>
				<string>Profile</string>
			</array>
			<key>Path</key>
			<string>RootViews/Profile/EditProfileView.swift</string>
		</dict>
		<key>Routing/AuthCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Routing</string>
			</array>
			<key>Path</key>
			<string>Routing/AuthCoordinator.swift</string>
		</dict>
		<key>Routing/Coordinator+Coordinatable.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Routing</string>
			</array>
			<key>Path</key>
			<string>Routing/Coordinator+Coordinatable.swift</string>
		</dict>
		<key>Routing/NavigationRouter.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Routing</string>
			</array>
			<key>Path</key>
			<string>Routing/NavigationRouter.swift</string>
		</dict>
		<key>Routing/Route.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Routing</string>
			</array>
			<key>Path</key>
			<string>Routing/Route.swift</string>
		</dict>
		<key>Services/LogService.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Services</string>
			</array>
			<key>Path</key>
			<string>Services/LogService.swift</string>
		</dict>
		<key>Services/NetworkService.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Services</string>
			</array>
			<key>Path</key>
			<string>Services/NetworkService.swift</string>
		</dict>
		<key>Services/Service.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Services</string>
			</array>
			<key>Path</key>
			<string>Services/Service.swift</string>
		</dict>
		<key>Supporting Files/Localizable.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>Supporting Files/Localizable.strings</string>
		</dict>
		<key>Supporting Files/NSConstraintLayoutSet.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>Supporting Files/NSConstraintLayoutSet.swift</string>
		</dict>
		<key>Theme/Extensions+Theme.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Theme</string>
			</array>
			<key>Path</key>
			<string>Theme/Extensions+Theme.swift</string>
		</dict>
		<key>Theme/Style.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Theme</string>
			</array>
			<key>Path</key>
			<string>Theme/Style.swift</string>
		</dict>
		<key>Theme/Stylesheet.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Theme</string>
			</array>
			<key>Path</key>
			<string>Theme/Stylesheet.swift</string>
		</dict>
		<key>Theme/Theme.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Theme</string>
			</array>
			<key>Path</key>
			<string>Theme/Theme.swift</string>
		</dict>
		<key>Transitions/ControllerInteractor.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Transitions</string>
			</array>
			<key>Path</key>
			<string>Transitions/ControllerInteractor.swift</string>
		</dict>
		<key>Transitions/ControllerTransitionAnimator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Transitions</string>
			</array>
			<key>Path</key>
			<string>Transitions/ControllerTransitionAnimator.swift</string>
		</dict>
		<key>Transitions/NavigationControllerInteractor.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Transitions</string>
			</array>
			<key>Path</key>
			<string>Transitions/NavigationControllerInteractor.swift</string>
		</dict>
		<key>Transitions/NavigationControllerTransitionAnimator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Transitions</string>
			</array>
			<key>Path</key>
			<string>Transitions/NavigationControllerTransitionAnimator.swift</string>
		</dict>
		<key>Transitions/TabBarControllerTransitionAnimator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Transitions</string>
			</array>
			<key>Path</key>
			<string>Transitions/TabBarControllerTransitionAnimator.swift</string>
		</dict>
		<key>ViewModels/AuthViewModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewModels</string>
			</array>
			<key>Path</key>
			<string>ViewModels/AuthViewModel.swift</string>
		</dict>
		<key>ViewModels/Base/AppViewModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewModels</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>ViewModels/Base/AppViewModel.swift</string>
		</dict>
		<key>ViewModels/Base/ListViewModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewModels</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>ViewModels/Base/ListViewModel.swift</string>
		</dict>
		<key>ViewModels/Base/ViewModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewModels</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>ViewModels/Base/ViewModel.swift</string>
		</dict>
		<key>ViewModels/EULAViewModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewModels</string>
			</array>
			<key>Path</key>
			<string>ViewModels/EULAViewModel.swift</string>
		</dict>
		<key>ViewModels/EditProfileViewModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewModels</string>
			</array>
			<key>Path</key>
			<string>ViewModels/EditProfileViewModel.swift</string>
		</dict>
		<key>Views/AvatarView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Views/AvatarView.swift</string>
		</dict>
		<key>Views/Cells/CollectionReusableView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Cells</string>
			</array>
			<key>Path</key>
			<string>Views/Cells/CollectionReusableView.swift</string>
		</dict>
		<key>Views/Cells/CollectionViewCell.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Cells</string>
			</array>
			<key>Path</key>
			<string>Views/Cells/CollectionViewCell.swift</string>
		</dict>
		<key>Views/Cells/FormCells.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Cells</string>
			</array>
			<key>Path</key>
			<string>Views/Cells/FormCells.swift</string>
		</dict>
		<key>Views/Cells/TableViewCell.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Cells</string>
			</array>
			<key>Path</key>
			<string>Views/Cells/TableViewCell.swift</string>
		</dict>
		<key>Views/CollectionView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Views/CollectionView.swift</string>
		</dict>
		<key>Views/GaugeView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Views/GaugeView.swift</string>
		</dict>
		<key>Views/GradientView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Views/GradientView.swift</string>
		</dict>
		<key>Views/ImageView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Views/ImageView.swift</string>
		</dict>
		<key>Views/InputViews/AnimatedTextField.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>InputViews</string>
			</array>
			<key>Path</key>
			<string>Views/InputViews/AnimatedTextField.swift</string>
		</dict>
		<key>Views/InputViews/InputTextView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>InputViews</string>
			</array>
			<key>Path</key>
			<string>Views/InputViews/InputTextView.swift</string>
		</dict>
		<key>Views/InputViews/SearchBar.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>InputViews</string>
			</array>
			<key>Path</key>
			<string>Views/InputViews/SearchBar.swift</string>
		</dict>
		<key>Views/InputViews/TextField.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>InputViews</string>
			</array>
			<key>Path</key>
			<string>Views/InputViews/TextField.swift</string>
		</dict>
		<key>Views/Items/BadgeBarButtonItem.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Items</string>
			</array>
			<key>Path</key>
			<string>Views/Items/BadgeBarButtonItem.swift</string>
		</dict>
		<key>Views/Layers/Chevron.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Layers</string>
			</array>
			<key>Path</key>
			<string>Views/Layers/Chevron.swift</string>
		</dict>
		<key>Views/Layers/Star.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Layers</string>
			</array>
			<key>Path</key>
			<string>Views/Layers/Star.swift</string>
		</dict>
		<key>Views/Layout Containers/GridView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Layout Containers</string>
			</array>
			<key>Path</key>
			<string>Views/Layout Containers/GridView.swift</string>
		</dict>
		<key>Views/Layout Containers/RowView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Layout Containers</string>
			</array>
			<key>Path</key>
			<string>Views/Layout Containers/RowView.swift</string>
		</dict>
		<key>Views/Layout Containers/SectionFooterView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Layout Containers</string>
			</array>
			<key>Path</key>
			<string>Views/Layout Containers/SectionFooterView.swift</string>
		</dict>
		<key>Views/Layout Containers/SectionHeaderView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Layout Containers</string>
			</array>
			<key>Path</key>
			<string>Views/Layout Containers/SectionHeaderView.swift</string>
		</dict>
		<key>Views/ListView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Views/ListView.swift</string>
		</dict>
		<key>Views/NavigationBars/NavigationBar.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>NavigationBars</string>
			</array>
			<key>Path</key>
			<string>Views/NavigationBars/NavigationBar.swift</string>
		</dict>
		<key>Views/RoundedView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Views/RoundedView.swift</string>
		</dict>
		<key>Views/ScrollStackView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Views/ScrollStackView.swift</string>
		</dict>
		<key>Views/TableView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Views/TableView.swift</string>
		</dict>
		<key>Views/View.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Views/View.swift</string>
		</dict>
		<key>Views/Wrapper Containers/AccessoryViewWrapped.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Wrapper Containers</string>
			</array>
			<key>Path</key>
			<string>Views/Wrapper Containers/AccessoryViewWrapped.swift</string>
		</dict>
		<key>Views/Wrapper Containers/ScrollViewWrapped.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Wrapper Containers</string>
			</array>
			<key>Path</key>
			<string>Views/Wrapper Containers/ScrollViewWrapped.swift</string>
		</dict>
		<key>Views/Wrapper Containers/ViewWrapped.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Wrapper Containers</string>
			</array>
			<key>Path</key>
			<string>Views/Wrapper Containers/ViewWrapped.swift</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>Default Description</string>
	<key>Identifier</key>
	<string>com.xcprojecttemplategen.default</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>AppWindow.swift</string>
						<string>ViewModels/AuthViewModel.swift</string>
						<string>ViewModels/EULAViewModel.swift</string>
						<string>ViewModels/EditProfileViewModel.swift</string>
						<string>ViewModels/Base/ViewModel.swift</string>
						<string>ViewModels/Base/AppViewModel.swift</string>
						<string>ViewModels/Base/ListViewModel.swift</string>
						<string>AppRouter.swift</string>
						<string>Networking/HttpRequest.swift</string>
						<string>Managers/Manager.swift</string>
						<string>Managers/ThemeManager.swift</string>
						<string>Models/Model.swift</string>
						<string>Models/Enums/LocalizationIdentifier.swift</string>
						<string>Models/Errors/JSONError.swift</string>
						<string>Extensions/CALayer.swift</string>
						<string>Extensions/IGListKit+Extenions.swift</string>
						<string>Extensions/UIViewController+Extensions.swift</string>
						<string>Extensions/UIButton+Extensions.swift</string>
						<string>Extensions/UIView+Extensions.swift</string>
						<string>Extensions/String+Extensions.swift</string>
						<string>Extensions/UIEdgeInsets+Extensions.swift</string>
						<string>Extensions/UIColor+Extensions.swift</string>
						<string>Extensions/UIImage+Extensions.swift</string>
						<string>Extensions/UIDevice+Extensions.swift</string>
						<string>Extensions/UIApplication+Extensions.swift</string>
						<string>Extensions/UIAlertController+Extensions.swift</string>
						<string>Extensions/RxSwift+Extensions.swift</string>
						<string>Extensions/NSAttributedString+Extensions.swift</string>
						<string>Extensions/NSLayoutConstraint+Extensions.swift</string>
						<string>Extensions/UIWindow+Extensions.swift</string>
						<string>Extensions/CustomStringConvertible+Extensions.swift</string>
						<string>Extensions/UITableView+Extensions.swift</string>
						<string>Extensions/UIScrollView+Extensions.swift</string>
						<string>Extensions/UILabel+Extensions.swift</string>
						<string>Extensions/Number+Extensions.swift</string>
						<string>Extensions/Date+Extensions.swift</string>
						<string>Extensions/Enum+Extensions.swift</string>
						<string>Extensions/UICollectionView+Extensions.swift</string>
						<string>Controls/ControlElement.swift</string>
						<string>Controls/Switch.swift</string>
						<string>Controls/Slider.swift</string>
						<string>Controls/Checkbox.swift</string>
						<string>Controls/Button.swift</string>
						<string>Controls/RatingSlider.swift</string>
						<string>Controls/ActivitySpinnerIndicator.swift</string>
						<string>Theme/Stylesheet.swift</string>
						<string>Theme/Extensions+Theme.swift</string>
						<string>Theme/Style.swift</string>
						<string>Theme/Theme.swift</string>
						<string>Supporting Files/Localizable.strings</string>
						<string>Supporting Files/NSConstraintLayoutSet.swift</string>
						<string>AppContainer.swift</string>
						<string>Routing/NavigationRouter.swift</string>
						<string>Routing/AuthCoordinator.swift</string>
						<string>Routing/Coordinator+Coordinatable.swift</string>
						<string>Routing/Route.swift</string>
						<string>AppDelegate.swift</string>
						<string>Transitions/TabBarControllerTransitionAnimator.swift</string>
						<string>Transitions/NavigationControllerInteractor.swift</string>
						<string>Transitions/NavigationControllerTransitionAnimator.swift</string>
						<string>Transitions/ControllerInteractor.swift</string>
						<string>Transitions/ControllerTransitionAnimator.swift</string>
						<string>Controllers/Auth/LoginController.swift</string>
						<string>Controllers/Auth/SignUpController.swift</string>
						<string>Controllers/Auth/EULAController.swift</string>
						<string>Controllers/DispatchController.swift</string>
						<string>Controllers/Profile/EditProfileController.swift</string>
						<string>Controllers/Base/ViewModelController.swift</string>
						<string>Controllers/Base/Controller.swift</string>
						<string>Controllers/Base/CollectionController.swift</string>
						<string>Controllers/Base/NavigationController.swift</string>
						<string>Controllers/Base/TabBarController.swift</string>
						<string>Views/View.swift</string>
						<string>Views/Cells/TableViewCell.swift</string>
						<string>Views/Cells/CollectionViewCell.swift</string>
						<string>Views/Cells/FormCells.swift</string>
						<string>Views/Cells/CollectionReusableView.swift</string>
						<string>Views/NavigationBars/NavigationBar.swift</string>
						<string>Views/Layers/Chevron.swift</string>
						<string>Views/Layers/Star.swift</string>
						<string>Views/CollectionView.swift</string>
						<string>Views/GaugeView.swift</string>
						<string>Views/Layout Containers/SectionHeaderView.swift</string>
						<string>Views/Layout Containers/SectionFooterView.swift</string>
						<string>Views/Layout Containers/RowView.swift</string>
						<string>Views/Layout Containers/GridView.swift</string>
						<string>Views/ListView.swift</string>
						<string>Views/InputViews/SearchBar.swift</string>
						<string>Views/InputViews/InputTextView.swift</string>
						<string>Views/InputViews/TextField.swift</string>
						<string>Views/InputViews/AnimatedTextField.swift</string>
						<string>Views/ScrollStackView.swift</string>
						<string>Views/Wrapper Containers/ViewWrapped.swift</string>
						<string>Views/Wrapper Containers/AccessoryViewWrapped.swift</string>
						<string>Views/Wrapper Containers/ScrollViewWrapped.swift</string>
						<string>Views/RoundedView.swift</string>
						<string>Views/TableView.swift</string>
						<string>Views/AvatarView.swift</string>
						<string>Views/ImageView.swift</string>
						<string>Views/GradientView.swift</string>
						<string>Views/Items/BadgeBarButtonItem.swift</string>
						<string>Protocols/Reflectable.swift</string>
						<string>Protocols/FeedbackGeneratable.swift</string>
						<string>Protocols/Accessible.swift</string>
						<string>Protocols/Roundable.swift</string>
						<string>Info.plist</string>
						<string>Services/Service.swift</string>
						<string>Services/NetworkService.swift</string>
						<string>Services/LogService.swift</string>
						<string>Interfaces/Interfaces.swift</string>
						<string>Interfaces/Interface+Defaults.swift</string>
						<string>RootViews/Auth/EULAView.swift</string>
						<string>RootViews/Auth/LoginView.swift</string>
						<string>RootViews/Auth/SignUpView.swift</string>
						<string>RootViews/Profile/EditProfileView.swift</string>
						<string>RootViews/LoadingView.swift</string>
						<string>../Podfile</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Template Author</key>
	<string>Nathan Tannar @nathantannar4</string>
</dict>
</plist>
